*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
html , body{
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main{
  width: 100%;
}
main section{
  width: 100%;
  padding: var(--padding-xxl);
  display: flex;
  gap: var(--gutter-lg);
}
main section .top{
  display: flex;
  gap: var(--gutter-md);
  align-items: center;
}
main section .bottom{
  background-color: var(--bg-secondary-color) ;
  width: 100%;
  padding: var(--padding-xxl);
  aspect-ratio: 5/3;
  border-radius: var(--border-radius-xl);
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gutter-lg);
  width: 70%;
}
main section .right{
  width: 30%;
  background-color: var(--bg-secondary-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-md);
  margin-top: var(--margin-sm);

  & .filters{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
    text-transform: capitalize;
  }
}
main section .right .filters .filter{
  width: 100%;
  font-size: var(--font-size-sm);
  & input{
    width: 100%;
    outline: none;
    appearance: none;
  }

  & input::-webkit-slider-thumb{
    cursor: pointer;
    background-color: red;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: -4.5px;
  }
  &  input::-webkit-slider-runnable-track{
    background-color: var(--bg-active-color);
    height: 1px;
    border-radius: var(--border-radius-sm);
  }
}
main .label{
  font-size: 14px;
  padding-bottom: 8px;
  color: rgb(197, 131, 131);
  background-color: rgb(37, 37, 84);
}

.btn{
  border: none;
  outline: none;
  border-radius: var(--border-radius-md);
  background-color: var(--bg-active-color);
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-lg);
  color: var(--text-active-color);
  font-weight: bold;
}

.btn:hover{
  opacity: 0.8;
}
.btn:active{
  opacity: 0.6;
}
#reset-btn{
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
}
#download-btn{
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
}

main section .botton .placeholder{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  gap: var(--gutter-md);
}

main section .bottom .placeholder i {
  font-size: 10rem;
}
main section .bottom .placeholder p {
  font-size: var(--font-size-lg);
}
canvas{
  display: none;
  max-width: 100%;
  max-height: 80vh;
}
.presets{
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter-sm);
  text-transform: capitalize;
}

